@font-face {
	font-family: Macondo;
	src: url('Macondo-Regular.ttf');
}

@font-face {
	font-family: CreteRound;
	src: url('CreteRound-Regular.ttf');
}

body {
	background: #1b444a;
	font-family: Macondo;
	color: #fdedcb;
	font-size: 16pt;
}

h1 {
	display: block;
	text-align: center;
}

.block img {
	width: 15em;
	margin-right: 1em;
	margin-bottom: 1em;
	float: left;
	border: 2px solid #e7c48c;
}

.actions {
	line-height: 3;
}

.text {
	font-family: CreteRound;
}

.block, .darkBlock {
	display: block;
	margin: auto;
	margin-bottom: 1em;
}

.darkBlock {
	border: 2px solid #1b444a;
	width: 42em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.block {
	background: #f6deb8;
	border: 2px solid #e7c48c;
	color: #052f3f;
	padding: 1em;
	width: 40em;
	line-height: 1.3;
}

.statTitle {
	font-weight: bold;
	margin-right: 0.5em;
	white-space: nowrap;
}

.statValue {
	margin-right: 1em;
	white-space: nowrap;
}

.actionButton {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-right: 1em;
	background: #fdedcb;
	color: #052f3f;
	border: 2px solid #e7c48c;
	border-radius: 1em;
	cursor: pointer;
	font-weight: bold;
	white-space: nowrap;
}

.optionButton {
	clear: both;
	display: block;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 1em;
	background: #fdedcb;
	color: #052f3f;
	border: 2px solid #e7c48c;
	border-radius: 1em;
	cursor: pointer;
}

.optionText {
	font-weight: bold;
}

.challengeChance, .challengeDanger {
	margin-left: 1em;
}

.challengeDanger {
	margin-left: 1em;
	color: #e85423;
}

.up {
	color: #5a6f5e;
	margin-right: 1em;
	margin-left: -0.5em;
}

.up::before {
	color: #857748;
	content: '+';
}

.down {
	color: #e85423;
	margin-right: 1em;
	margin-left: -0.5em;
}

.same {
	display: none;
}


.actionButton:hover, .optionButton:hover {
	background: #fbfbfb;
}
